<p style="color: green"><%= notice %></p>

<% content_for :title, "Prves" %>

<h1>Prves</h1>

<div id="prves">
  <% @prves.each do |profile| %>
    <%= render profile %>
    <p>
      <%= link_to "Show this profile", profile %>
    </p>
  <% end %>
</div>

<%= link_to "New profile", new_profile_path %>
